/* =============================================
=                CSS Index            =
============================================= */
/*

    00 - Base - Variables
    00 - Base - Mixins
    01 - Global - Default
    02 - Global - Helper
    03 - Global - Color
    04 - Layout - Header
    05 - Layout - Footer
    06 - Pages - Blog
    07 - Pages - Shop
    08 - Pages - Single-product
    09 - Pages - Contact
    10 - Pages - Error
    11 - Pages - Compare
    12 - Pages - Cart
    13 - Pages - Checkout
    14 - Pages - Wishlist
    15 - Pages - FAQ
    16 - Pages - My-Account
    17 - Pages - Login-Register
    18 - Components - Button
    19 - Components - Slider
    20 - Components - Feature
    21 - Components - Product
    22 - Components - Banner
    23 - Components - Newsletter 
    24 - Components - Support
    25 - Components - Action-plan
    26 - Components - Brand-logo
    27 - Components - Modal
    28 - Components - Breadcrumb

  =====  End of CSS Index  ====== */
/*----------------------------------------*/
/*    00 - Base - Variables
/*----------------------------------------*/
/*----------------------------------------*/
/*    00 - Base - Mixins
/*----------------------------------------*/
/*----------------------------------------*/
/*    01 - Global - Default
/*----------------------------------------*/
/*-- Google Font --*/
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,300;1,400;1,600;1,700&amp;display=swap");
body {
  line-height: 1.6;
  font-weight: 400;
  color: #484848;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-weight: 500;
  margin-top: 0px;
  font-weight: 400;
  line-height: 1;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  margin-bottom: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.img-full {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
}

a {
  color: inherit;
  display: inline-block;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #E72463;
}

a,
button,
i {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

a,
a:hover,
a:focus,
a:active,
button,
button:focus,
.btn,
.btn:focus,
input,
input:focus,
select,
textarea,
.slick-slide {
  text-decoration: none;
  outline: 0;
}

input.input-field {
  border: 1px solid #dddddd;
}

textarea.textarea-field {
  border: 1px solid #dddddd;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 30px;
  line-height: 15px;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

input[type="checkbox"] + label:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  display: block;
  border: 1px solid #dddddd;
  content: "";
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

input[type="checkbox"] + label:after {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  content: "\f00c";
  font-family: 'FontAwesome';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  opacity: 0;
  width: 15px;
  text-align: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  color: #E72463;
}

input[type="checkbox"]:checked + label:before {
  border: 1px solid #E72463;
}

input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

button,
.btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}

hr {
  margin: 60px 0;
  padding: 0px;
  border-bottom: 1px solid #eceff8;
  border-top: 0px;
}

.mark,
mark {
  background: #E72463 none repeat scroll 0 0;
  color: #ffffff;
}

/* ---Font Style--- */
.font-style_italic {
  font-style: italic;
}

/* ---Line Height--- */
.line-height-1 {
  line-height: 1;
}

/*----------------------------------------*/
/*    02 - Global - Helper
/*----------------------------------------*/
/*--- Custom Container, row and col  ---*/
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container.custom-area {
  padding-right: 15px;
  padding-left: 15px;
}

.container.custom-area .row {
  margin-right: -15px;
  margin-left: -15px;
}

.container.custom-area .col-custom {
  padding-right: 15px;
  padding-left: 15px;
}

.container.custom-area-2 .col-custom {
  padding-right: 15px;
  padding-left: 15px;
}

.container-fluid {
  padding: 0 50px;
}

.container-fluid .row {
  margin-right: -15px;
  margin-left: -15px;
}

.container-fluid .col-custom {
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 1199px) {
  .container-fluid {
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  .container-fluid {
    padding: 0 15px;
  }
}

/*-- Boxed Home Layout --*/
.boxed-layout {
  -webkit-box-shadow: -3px 0 50px -2px rgba(0, 0, 0, 0.14);
          box-shadow: -3px 0 50px -2px rgba(0, 0, 0, 0.14);
  max-width: 90%;
  margin: auto;
}

/* --- Preloader---*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 99999999;
}

.preloader {
  display: inline-block;
  padding: 0px;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes scale-2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes scale-2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

.preloader .spinner.spinner-3:before {
  width: 50px;
  height: 50px;
  border-color: #E72463;
  top: 0px;
  left: 0px;
  -webkit-animation: scale-2 .8s linear 0s infinite;
          animation: scale-2 .8s linear 0s infinite;
}

.preloader .spinner.spinner-3:after {
  width: 50px;
  height: 50px;
  border-color: #E72463;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-animation: scale-2 .8s linear 0.5s infinite;
          animation: scale-2 .8s linear 0.5s infinite;
}

.spinners .spinner-block {
  width: 50px;
  text-align: center;
  margin-right: 83px;
  line-height: 30px;
}

.spinners .spinner-block:nth-child(5n) {
  margin-right: 0px;
}

.spinner {
  position: relative;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 30px;
  color: #ffffff;
}

.spinner:before, .spinner:after {
  content: "";
  display: block;
  position: absolute;
  border-width: 4px;
  border-style: solid;
  border-radius: 50%;
}

/* --- Section title ---*/
.section-title .section-title-1 {
  color: #E72463;
  font-size: 22px;
  font-weight: 600;
  line-height: 34px;
  display: inline-block;
  letter-spacing: 3px;
  margin: 0 0 15px 0;
  position: relative;
  font-family: "Great Vibes", cursive;
}

@media (max-width: 479px) {
  .section-title .section-title-1 {
    font-size: 18px;
    line-height: 22px;
  }
}

.section-title .section-title-3 {
  font-size: 36px;
  font-family: "Josefin Slab", serif;
  font-weight: 700;
  margin-bottom: 0px;
  padding-bottom: 25px;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .section-title .section-title-3 {
    font-size: 32px;
    padding-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .section-title .section-title-3 {
    font-size: 30px;
  }
}

@media (max-width: 479px) {
  .section-title .section-title-3 {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 10px;
  }
}

.section-title .section-title-2 {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  color: #010101;
  margin-bottom: 15px;
  text-transform: uppercase;
}

@media (max-width: 575px) {
  .section-title .section-title-2 {
    font-size: 24px;
  }
}

@media (max-width: 575px) {
  .section-title .section-title-2 {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 10px;
  }
}

.section-title .section-title-large {
  font-size: 80px;
  font-family: "Josefin Slab", serif;
  font-weight: 600;
}

@media (max-width: 767px) {
  .section-title .section-title-large {
    font-size: 70px;
  }
}

@media (max-width: 575px) {
  .section-title .section-title-large {
    font-size: 60px;
  }
}

@media (max-width: 479px) {
  .section-title .section-title-large {
    font-size: 40px;
  }
}

.section-title2 > p {
  margin: 0 auto 35px auto;
  font-style: italic;
  color: #c9c9c9;
  max-width: 720px;
  text-align: center;
}

.section-title2.bl-color > h3 {
  color: #444;
}

.section-title2.bl-color > p {
  color: #222;
}

/* ---Spacing Between Two Row---*/
.product-slider .slick-slide div:not(:last-child) .product-item {
  padding-bottom: 55px;
}

/*-- Scroll To Top --*/
.scroll-to-top {
  background-color: #E72463;
  color: #7CFC00;
  position: fixed;
  right: 50px;
  top: 0%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  z-index: 999;
  font-size: 16px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  -webkit-transition: .9s;
  -o-transition: .9s;
  transition: .9s;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
  top: 98%;
  -webkit-transform: translateY(-98%);
      -ms-transform: translateY(-98%);
          transform: translateY(-98%);
}

.scroll-to-top:hover {
  background-color: #000000;
  color: #ffffff;
}

/* ---Range Slider--- */
.ui-slider-horizontal .ui-slider-range {
  background: #000000;
  height: 2px;
}

.ui-slider-horizontal {
  height: 2px;
  background: #dbdbdb;
  border: none;
  width: 92%;
  margin: 0 auto;
  margin-bottom: 22px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: #ffffff;
  width: 15px;
  height: 15px;
  top: -7px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #E72463;
}

.ui-state-default:focus, .ui-widget-content .ui-state-default:focus, .ui-widget-header .ui-state-default:focus {
  outline: none;
  border-radius: 100%;
}

.widget-list {
  margin-bottom: 30px;
}

.widget-list form {
  padding-top: 10px;
}

.widget-list form input {
  background: none;
  border: none;
  font-size: 14px;
  text-align: right;
  line-height: 31px;
  width: 100px;
}

.widget-list form button {
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  text-transform: capitalize;
  color: #ffffff;
  background: #000000;
  border: 0;
  border-radius: 30px;
}

.widget-list form button:hover {
  background: #E72463;
}

/* ---Section Space--- */
.mt-no-text {
  margin-top: 100px;
}

@media (max-width: 991px) {
  .mt-no-text {
    margin-top: 80px;
  }
}

@media (max-width: 479px) {
  .mt-no-text {
    margin-top: 50px;
  }
}

.mt-text-2 {
  margin-top: 66px;
}

@media (max-width: 991px) {
  .mt-text-2 {
    margin-top: 46px;
  }
}

@media (max-width: 479px) {
  .mt-text-2 {
    margin-top: 20px;
  }
}

.mt-text-3 {
  margin-top: 93px;
}

@media (max-width: 991px) {
  .mt-text-3 {
    margin-top: 73px;
  }
}

@media (max-width: 479px) {
  .mt-text-3 {
    margin-top: 43px;
  }
}

.mb-text-3 {
  margin-bottom: 93px;
}

@media (max-width: 991px) {
  .mb-text-3 {
    margin-bottom: 73px;
  }
}

@media (max-width: 479px) {
  .mb-text-3 {
    margin-bottom: 43px;
  }
}

.mt-text-4 {
  margin-top: 80px;
}

@media (max-width: 991px) {
  .mt-text-4 {
    margin-top: 60px;
  }
}

@media (max-width: 479px) {
  .mt-text-4 {
    margin-top: 30px;
  }
}

.mt-text-5 {
  margin-top: 70px;
}

@media (max-width: 991px) {
  .mt-text-5 {
    margin-top: 50px;
  }
}

@media (max-width: 479px) {
  .mt-text-5 {
    margin-top: 20px;
  }
}

.mt-text-6 {
  margin-top: 98px;
}

@media (max-width: 991px) {
  .mt-text-6 {
    margin-top: 78px;
  }
}

@media (max-width: 479px) {
  .mt-text-6 {
    margin-top: 48px;
  }
}

.pt-text-3 {
  padding-top: 93px;
}

@media (max-width: 991px) {
  .pt-text-3 {
    padding-top: 73px;
  }
}

@media (max-width: 479px) {
  .pt-text-3 {
    padding-top: 43px;
  }
}

.pb-text-4 {
  padding-bottom: 98px;
}

@media (max-width: 991px) {
  .pb-text-4 {
    padding-bottom: 78px;
  }
}

@media (max-width: 479px) {
  .pb-text-4 {
    padding-bottom: 48px;
  }
}

.pt-no-text {
  padding-top: 100px;
}

@media (max-width: 991px) {
  .pt-no-text {
    padding-top: 80px;
  }
}

@media (max-width: 575px) {
  .pt-no-text {
    padding-top: 50px;
  }
}

.pt-no-text {
  padding-bottom: 100px;
}

@media (max-width: 991px) {
  .pt-no-text {
    padding-bottom: 80px;
  }
}

@media (max-width: 575px) {
  .pt-no-text {
    padding-bottom: 50px;
  }
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-30 {
  padding-top: 30px;
}

.mrl-50 {
  margin-right: 50px;
  margin-left: 50px;
}

@media (max-width: 1199px) {
  .mrl-50 {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .mrl-50 {
    margin-right: 15px;
    margin-left: 15px;
  }
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

/*--- Image Hover Style ---*/
.hover-style {
  display: block;
  overflow: hidden;
}

.hover-style img {
  -webkit-transform: scale(1.01) rotate(0.05deg);
      -ms-transform: scale(1.01) rotate(0.05deg);
          transform: scale(1.01) rotate(0.05deg);
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.hover-style .overlay-1 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  content: "";
  background-color: #3e3e3e;
  width: 100%;
  height: 100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.hover-style:hover img {
  -webkit-transform: scale(1.05) rotate(0.05deg);
      -ms-transform: scale(1.05) rotate(0.05deg);
          transform: scale(1.05) rotate(0.05deg);
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.hover-style:hover .overlay-1 {
  opacity: .2;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

/* ---Nice Select Customization--- */
.myniceselect.nice-select {
  padding: 0;
  margin: 0;
  height: auto;
  line-height: auto;
}

.myniceselect.nice-select span {
  height: 40px;
  line-height: 40px;
  display: inline-block;
  padding: 0 20px;
}

.myniceselect.nice-select .list {
  width: 100%;
}

.myniceselect.nice-select.wide span {
  width: 100%;
}

/*--- Swiper Pagination Style ---*/
.swiper-pagination.default-pagination {
  position: relative;
  bottom: 0px;
  line-height: 14px;
}

.swiper-pagination.default-pagination .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  border: 2px solid #000000;
  background: transparent;
  opacity: 1;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  outline: 0px;
}

.swiper-pagination.default-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #E72463;
  border-color: #E72463;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.swiper-pagination.default-pagination .swiper-pagination-bullet:hover {
  background: #E72463;
  border-color: #E72463;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

@media (max-width: 991px) {
  .swiper-pagination.default-pagination .swiper-pagination-bullet {
    display: inline-block;
    width: 12px;
    height: 12px;
  }
}

/*--- Swiper Navigation Style ---*/
.intro11-carousel-wrap .swiper-button-prev, .intro11-carousel-wrap .swiper-button-next {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transition-duration: 400ms;
       -o-transition-duration: 400ms;
          transition-duration: 400ms;
}

.intro11-carousel-wrap .swiper-button-prev:focus, .intro11-carousel-wrap .swiper-button-next:focus {
  border: 0px;
  outline: 0px;
}

.intro11-carousel-wrap .swiper-button-prev:after, .intro11-carousel-wrap .swiper-button-next:after {
  display: none;
}

.intro11-carousel-wrap .swiper-button-prev i, .intro11-carousel-wrap .swiper-button-next i {
  font-size: 30px;
  color: #000000;
}

.intro11-carousel-wrap .swiper-button-prev i:hover, .intro11-carousel-wrap .swiper-button-next i:hover {
  color: #E72463;
}

@media (max-width: 575px) {
  .intro11-carousel-wrap .swiper-button-prev i, .intro11-carousel-wrap .swiper-button-next i {
    font-size: 20px;
  }
}

.intro11-carousel-wrap .swiper-button-prev {
  left: 50px;
}

@media (max-width: 1199px) {
  .intro11-carousel-wrap .swiper-button-prev {
    left: 20px;
  }
}

.intro11-carousel-wrap .swiper-button-next {
  right: 50px;
}

@media (max-width: 1199px) {
  .intro11-carousel-wrap .swiper-button-next {
    right: 20px;
  }
}

.intro11-carousel-wrap:hover .swiper-button-prev, .intro11-carousel-wrap:hover .swiper-button-next {
  opacity: 1;
  visibility: visible;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transition-duration: 400ms;
       -o-transition-duration: 400ms;
          transition-duration: 400ms;
}

.intro11-carousel-wrap.arrow-style-2 .swiper-button-prev {
  left: 1px;
}

@media (max-width: 1199px) {
  .intro11-carousel-wrap.arrow-style-2 .swiper-button-prev {
    left: 1px;
  }
}

.intro11-carousel-wrap.arrow-style-2 .swiper-button-next {
  right: 0px;
}

@media (max-width: 1199px) {
  .intro11-carousel-wrap.arrow-style-2 .swiper-button-next {
    right: 0px;
  }
}

.intro11-carousel-wrap.arrow-style-3 .swiper-button-prev {
  left: 15px;
}

@media (max-width: 767px) {
  .intro11-carousel-wrap.arrow-style-3 .swiper-button-prev {
    left: 1px;
  }
}

.intro11-carousel-wrap.arrow-style-3 .swiper-button-next {
  right: 15px;
}

@media (max-width: 767px) {
  .intro11-carousel-wrap.arrow-style-3 .swiper-button-next {
    right: 0px;
  }
}

/* ---Bootstrap No Gutters--- */
.no-gutters {
  margin-right: 0px;
  margin-left: 0px;
}

/* ---Tooltip--- */
.tooltip {
  z-index: 10;
}

.tooltip-inner {
  padding: 0 10px;
  height: 25px;
  line-height: 22px;
  text-align: center;
  border-radius: 2px;
  font-size: 10px;
  background-color: #E72463;
  text-indent: 0;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .tooltip-arrow::before,
.tooltip.bs-tooltip-top .arrow::before {
  content: "";
  border-width: 5px 5px 0;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .tooltip-arrow::before,
.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #E72463;
}

.bs-tooltip-auto[x-placement^=bottom] .tooltip-arrow::before,
.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: #E72463;
}

.tooltip.bs-tooltip-auto[x-placement^=right] .tooltip-arrow::before,
.tooltip.bs-tooltip-right .tooltip-arrow::before {
  border-right-color: #E72463;
}

.bs-tooltip-auto[x-placement^=left] .tooltip-arrow::before,
.bs-tooltip-left .tooltip-arrow::before {
  border-left-color: #E72463;
}

.product-rating i {
  font-size: 16px;
  color: #E72463;
}

/* --- Pagination --- */
@media (max-width: 479px) {
  .pagination {
    margin-bottom: 10px;
  }
}

.pagination ul li {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #f1f1f1;
  border-radius: 3px;
  margin-left: 3px;
}

.pagination ul li:first-child {
  margin-left: 0;
}

.pagination ul li a {
  display: block;
  border-radius: 3px;
}

.pagination ul li a:hover {
  background: #E72463;
  color: #ffffff;
}

.pagination ul li.current {
  background: #E72463;
  color: #ffffff;
}

.pagination ul li.next {
  width: 40px;
}

/*----------------------------------------*/
/*    03 - Global - Color
/*----------------------------------------*/
/*-- Template Background --*/
.black-bg {
  background: #1b1b1b;
}

.black-dark-bg {
  background: #000000;
}

.gray-bg {
  background: #f8f8f8;
}

.red {
  background: red no-repeat center;
  background-size: initial;
}

.green {
  background: green no-repeat center;
  background-size: initial;
}

.blue {
  background: blue no-repeat center;
  background-size: initial;
}

.yellow {
  background: yellow no-repeat center;
  background-size: initial;
}

.white {
  background: white no-repeat center;
  background-size: initial;
}

.gold {
  background: gold no-repeat center;
  background-size: initial;
}

/*----------------------------------------*/
/*    04 - Layout - Header
/*----------------------------------------*/
/*-- Main Header Area --*/
.main-header-area .header-logo img {
  width: 125px;
}

/* ---Sticky Header--- */
.header-sticky.header-transparent {
  position: fixed;
  width: 100%;
  z-index: 99;
}

@media (max-width: 767px) {
  .header-sticky.header-transparent {
    position: relative;
  }
}

.header-sticky.sticky {
  -webkit-animation: 800ms ease-in-out 0s normal none 1 running slideInDown;
          animation: 800ms ease-in-out 0s normal none 1 running slideInDown;
  left: 0;
  position: fixed;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  top: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  z-index: 99;
}

/* ---Main Menu--- */
.main-nav > ul > li {
  display: inline-block;
  position: relative;
  padding: 30px 0;
}

.main-nav > ul > li:hover .dropdown-hover {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.main-nav > ul > li:hover .dropdown-hover-2 {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.main-nav > ul > li > a {
  display: block;
  padding: 8px 16px;
  font-size: 15px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 18px;
  color: #000000;
}

.main-nav > ul > li > a.active {
  color: #E72463;
}

.main-nav > ul > li > a:hover {
  color: #E72463;
}

.main-nav > ul > li > a i {
  margin-left: 0px;
  font-size: 15px;
  vertical-align: middle;
}

.main-nav > ul > li > a .menu-text {
  position: relative;
}

/*--- Header Right Area ---*/
.header-right-area.main-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-right-area.main-nav > ul {
  position: relative;
}

.header-right-area.main-nav > ul > li {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-right-area.main-nav > ul > li > span {
  font-size: 15px;
  font-weight: 600;
  position: relative;
  padding-left: 15px;
  margin-left: 15px;
}

.header-right-area.main-nav > ul > li > span:before {
  left: 0;
  top: 50%;
  width: 1px;
  height: 12px;
  content: "";
  position: absolute;
  background-color: #000000;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header-right-area.main-nav > ul > li > span:first-child {
  padding: 0px;
  margin: 0px;
}

.header-right-area.main-nav > ul > li > span:first-child:before {
  display: none;
}

.header-right-area.main-nav > ul > li > a {
  padding: 8px 0px 7px;
}

.header-right-area.main-nav > ul > li > a > i {
  font-size: 18px;
  line-height: 1;
  color: #000000;
}

.header-right-area.main-nav > ul > li > a > i:hover {
  color: #E72463;
}

.header-right-area.main-nav > ul > li.account-menu-wrap a.active {
  color: #E72463;
}

.header-right-area.main-nav > ul > li.sidemenu-wrap {
  margin-right: 30px;
}

.header-right-area.main-nav > ul > li.minicart-wrap {
  margin-right: 30px;
}

.header-right-area.main-nav > ul > li.minicart-wrap .minicart-btn {
  position: relative;
}

.header-right-area.main-nav > ul > li.minicart-wrap .minicart-btn i {
  font-size: 18px;
  line-height: 1;
  color: #000000;
}

.header-right-area.main-nav > ul > li.minicart-wrap .minicart-btn i:hover {
  color: #E72463;
}

.header-right-area.main-nav > ul > li.minicart-wrap .minicart-btn .cart-item_count {
  background-color: #E72463;
  border-radius: 50%;
  color: #ffffff;
  display: block;
  font-size: 12px;
  text-align: center;
  line-height: 18px;
  height: 18px;
  width: 18px;
  position: absolute;
  right: -10px;
  top: -5px;
}

.header-right-area.main-nav > ul > li.mobile-menu-btn a i {
  font-size: 20px;
}

/*----- Offcanvas Mobile Menu start -----*/
.off-canvas-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  z-index: 9999;
}

.off-canvas-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.off-canvas-wrapper.open .off-canvas-inner-content {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.off-canvas-wrapper .off-canvas-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  content: '';
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.off-canvas-wrapper .off-canvas-inner-content {
  background-color: #ffffff;
  width: 380px;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(calc(-100% - 50px));
      -ms-transform: translateX(calc(-100% - 50px));
          transform: translateX(calc(-100% - 50px));
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 479px) {
  .off-canvas-wrapper .off-canvas-inner-content {
    width: 280px;
  }
}

.off-canvas-wrapper .btn-close-off-canvas {
  left: 92%;
  position: relative;
}

@media (max-width: 479px) {
  .off-canvas-wrapper .btn-close-off-canvas {
    left: 89.2%;
  }
}

.off-canvas-wrapper .off-canvas-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  height: 100%;
  overflow: auto;
}

/*---------------------------
    - Mobile Menu Css
-----------------------------*/
.mobile-menu-btn .off-canvas-btn {
  font-size: 22px;
  cursor: pointer;
  padding: 0px 12px;
  line-height: 1;
  padding-right: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  margin-top: -3px;
}

.mobile-menu {
  height: 100%;
  padding-right: 30px;
  margin-right: -30px;
}

.mobile-menu li > a {
  font-size: 15px;
  color: #252525;
  text-transform: capitalize;
  line-height: 18px;
  position: relative;
  display: block;
  padding: 10px 0;
  font-weight: 600;
}

.mobile-menu li > a:hover {
  color: #000;
}

.mobile-menu li ul li {
  border: none;
}

.mobile-menu li ul li a {
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 15px 8px;
  font-weight: 400;
}

.mobile-menu .has-children, .mobile-menu .menu-item-has-children {
  position: relative;
}

.mobile-menu .has-children .menu-expand, .mobile-menu .menu-item-has-children .menu-expand {
  line-height: 50;
  top: -7px;
  left: 95%;
  width: 30px;
  position: absolute;
  height: 50px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 767px) {
  .mobile-menu .has-children .menu-expand, .mobile-menu .menu-item-has-children .menu-expand {
    left: 90%;
  }
}

.mobile-menu .has-children .menu-expand i, .mobile-menu .menu-item-has-children .menu-expand i {
  display: block;
  position: relative;
  width: 10px;
  margin-top: 25px;
  border-bottom: 1px solid #252525;
  -webkit-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

.mobile-menu .has-children .menu-expand i:before, .mobile-menu .menu-item-has-children .menu-expand i:before {
  top: 0;
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  border-bottom: 1px solid #252525;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.mobile-menu .has-children.active > .menu-expand i:before, .mobile-menu .menu-item-has-children.active > .menu-expand i:before {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.mobile-navigation {
  padding: 30px 40px 30px 40px;
}

@media (max-width: 479px) {
  .mobile-navigation {
    padding: 30px;
  }
}

.mobile-navigation nav {
  height: 100%;
}

/*----------------------------------------*/
/*    03 - Global - Color
/*----------------------------------------*/
.about-area .about-image img {
  width: 100%;
}

.about-area .section-title-wrap .title {
  font-size: 42px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  margin-bottom: 20px;
}

.about-area .section-title-wrap .subtitle {
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 15px;
  color: #838383;
}

.about-area .section-title-wrap .andro_list li {
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.about-area .section-title-wrap .andro_list li:before {
  font-family: "FontAwesome";
  content: "\f055";
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  text-rendering: auto;
  line-height: 1.7;
  font-size: 12px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  margin-right: 10px;
  color: #E72463;
}

@media (max-width: 767px) {
  .about-area .collection-content {
    margin-bottom: 30px;
  }
}


/*----------------------------------------*/
/*    Slider Scss
/*----------------------------------------*/
@media (max-width: 991px) {
  .intro11-slider-wrap .swiper-button-prev, .intro11-slider-wrap .swiper-button-next {
    display: none;
  }
}

.intro11-slider-wrap .swiper-button-prev:focus, .intro11-slider-wrap .swiper-button-next:focus {
  border: 0px;
  outline: 0px;
}

.intro11-slider-wrap .swiper-button-prev:after, .intro11-slider-wrap .swiper-button-next:after {
  display: none;
}

.intro11-slider-wrap .swiper-button-prev i, .intro11-slider-wrap .swiper-button-next i {
  font-size: 30px;
  color: #000000;
}

.intro11-slider-wrap .swiper-button-prev i:hover, .intro11-slider-wrap .swiper-button-next i:hover {
  color: #E72463;
}

.intro11-slider-wrap .swiper-button-prev {
  left: 50px;
}

.intro11-slider-wrap .swiper-button-next {
  right: 50px;
}

.intro11-slider-wrap .swiper-pagination-bullet {
  display: none;
  width: 12px;
  height: 12px;
  border: 2px solid #000000;
  background: transparent;
  opacity: 1;
}

.intro11-slider-wrap .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #E72463;
  border-color: #E72463;
}

.intro11-slider-wrap .swiper-pagination-bullet:hover {
  background: #E72463;
  border-color: #E72463;
}

@media (max-width: 991px) {
  .intro11-slider-wrap .swiper-pagination-bullet {
    display: inline-block;
  }
}

.intro11-slider {
  width: 100%;
  height: 100%;
}

.intro11-slider .intro11-content {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1500px) {
  .intro11-slider .intro11-content {
    width: 1020px;
  }
}

@media (max-width: 1199px) {
  .intro11-slider .intro11-content {
    width: 800px;
  }
}

@media (max-width: 991px) {
  .intro11-slider .intro11-content {
    width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 575px) {
  .intro11-slider .intro11-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.intro11-slider .intro11-content .title-slider {
  color: #ffffff;
  padding: 5px 10px;
  background: #E72463;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 15px;
}

.intro11-slider .intro11-content .title-slider.black-slider-title {
  background: #000000;
}

.intro11-slider .intro11-content .title {
  font-size: 80px;
  line-height: 80px;
  font-weight: 500;
  margin-bottom: 15px;
}

@media (max-width: 1500px) {
  .intro11-slider .intro11-content .title {
    font-size: 40px;
    line-height: 40px;
  }
}

@media (max-width: 767px) {
  .intro11-slider .intro11-content .title {
    font-size: 30px;
    line-height: 30px;
  }
}

@media (max-width: 575px) {
  .intro11-slider .intro11-content .title {
    text-align: center;
  }
}

@media (max-width: 479px) {
  .intro11-slider .intro11-content .title {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
}

.intro11-slider .intro11-content .desc-content {
  font-size: 16px;
  line-height: 28px;
  max-width: 655px;
}

@media (max-width: 1500px) {
  .intro11-slider .intro11-content .desc-content {
    font-size: 14px;
    max-width: 500px;
  }
}

@media (max-width: 575px) {
  .intro11-slider .intro11-content .desc-content {
    display: none;
  }
}

.intro11-slider .intro11-content .flosun-button {
  margin-top: 30px;
}

@media (max-width: 767px) {
  .intro11-slider .intro11-content .flosun-button {
    margin-top: 0;
  }
}

.intro11-slider .intro11-content-2 {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1500px) {
  .intro11-slider .intro11-content-2 {
    width: 1020px;
  }
}

@media (max-width: 1199px) {
  .intro11-slider .intro11-content-2 {
    width: 800px;
  }
}

@media (max-width: 991px) {
  .intro11-slider .intro11-content-2 {
    width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 575px) {
  .intro11-slider .intro11-content-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.intro11-slider .intro11-content-2 .different-title {
  font-size: 190px;
  font-family: "Great Vibes", cursive;
  line-height: 150px;
  color: #E72463;
  margin-bottom: 20px;
}

@media (max-width: 1199px) {
  .intro11-slider .intro11-content-2 .different-title {
    font-size: 100px;
    line-height: 115px;
  }
}

@media (max-width: 767px) {
  .intro11-slider .intro11-content-2 .different-title {
    font-size: 70px;
    line-height: 40px;
  }
}

@media (max-width: 575px) {
  .intro11-slider .intro11-content-2 .different-title {
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 0px;
  }
}

.intro11-slider .intro11-content-2 .title {
  font-size: 80px;
  line-height: 80px;
  font-weight: 500;
}

@media (max-width: 1500px) {
  .intro11-slider .intro11-content-2 .title {
    font-size: 40px;
    line-height: 40px;
  }
}

@media (max-width: 767px) {
  .intro11-slider .intro11-content-2 .title {
    font-size: 30px;
    line-height: 50px;
  }
}

@media (max-width: 575px) {
  .intro11-slider .intro11-content-2 .title {
    font-size: 20px;
    line-height: 25px;
    margin: 20px 0 15px;
  }
}

.intro11-slider .intro11-content-2 .flosun-button {
  margin-top: 30px;
}

@media (max-width: 767px) {
  .intro11-slider .intro11-content-2 .flosun-button {
    margin-top: 0;
  }
}

/*-- Slider Background image --*/
.bg-position {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.slide-bg-1 {
  min-height: 890px;
}

@media (max-width: 1800px) {
  .slide-bg-1 {
    min-height: 800px;
  }
}

@media (max-width: 1500px) {
  .slide-bg-1 {
    min-height: 600px;
  }
}

@media (max-width: 1199px) {
  .slide-bg-1 {
    min-height: 550px;
  }
}

@media (max-width: 991px) {
  .slide-bg-1 {
    min-height: 500px;
  }
}

@media (max-width: 767px) {
  .slide-bg-1 {
    min-height: 400px;
  }
}

@media (max-width: 575px) {
  .slide-bg-1 {
    min-height: 350px;
  }
}

@media (max-width: 479px) {
  .slide-bg-1 {
    min-height: 300px;
  }
}

.slide-bg-2 {
  min-height: 800px;
}

@media (max-width: 1500px) {
  .slide-bg-2 {
    min-height: 600px;
  }
}

@media (max-width: 1199px) {
  .slide-bg-2 {
    min-height: 550px;
  }
}

@media (max-width: 991px) {
  .slide-bg-2 {
    min-height: 500px;
  }
}

@media (max-width: 767px) {
  .slide-bg-2 {
    min-height: 400px;
  }
}

@media (max-width: 575px) {
  .slide-bg-2 {
    min-height: 350px;
  }
}

@media (max-width: 479px) {
  .slide-bg-2 {
    min-height: 300px;
  }
}

.slide-1 {
  background-image: url("../images/slider/1-1.png");
  background-color: rgba(215, 177, 190, 0.9);
}

.slide-2 {
  background-image: url("../images/slider/1-2.png");
  background-color: rgba(215, 177, 190, 0.9);
}

/*-- Slider Animation --*/
.intro11-content > * {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeOutUp;
          animation-name: fadeOutUp;
}

.swiper-slide-active .intro11-content > :nth-child(1) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

.swiper-slide-active .intro11-content > :nth-child(2) {
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

.swiper-slide-active .intro11-content > :nth-child(3) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

.swiper-slide-active .intro11-content > :nth-child(4) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

/*-- Slider Animation --*/
.intro11-content-2 > * {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeOutUp;
          animation-name: fadeOutUp;
}

.swiper-slide-active .intro11-content-2 > :nth-child(1) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

.swiper-slide-active .intro11-content-2 > :nth-child(2) {
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

.swiper-slide-active .intro11-content-2 > :nth-child(3) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

/*----------------------------------------*/
/*    18 - Components - Button
/*----------------------------------------*/
.flosun-button {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  height: 45px;
  letter-spacing: 0.025em;
  line-height: 45px;
  padding: 0 30px;
  text-align: center;
  vertical-align: middle;
  width: auto;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 767px) {
  .flosun-button {
    padding: 0 15px;
  }
}

@media (max-width: 575px) {
  .flosun-button {
    font-size: 14px;
    padding: 0 15px;
    height: 42px;
    line-height: 42px;
  }
}

@media (max-width: 479px) {
  .flosun-button {
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
  }
}

.flosun-button.secondary-btn {
  position: relative;
  background: #000000;
  color: #ffffff;
  z-index: 1;
}

.flosun-button.secondary-btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: #E72463;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.flosun-button.secondary-btn:hover:after {
  width: 100%;
}

.flosun-button.secondary-btn.theme-color {
  position: relative;
  background: #E72463;
  color: #ffffff;
  z-index: 1;
}

.flosun-button.secondary-btn.theme-color:after {
  background: #000000;
}

.flosun-button.secondary-btn.secondary-border {
  border: 2px solid #000000;
  background: transparent;
  color: #000000;
  line-height: 42px;
}

.flosun-button.secondary-btn.secondary-border:hover {
  background: #E72463;
  color: #ffffff;
  border-color: #E72463;
}

@media (max-width: 575px) {
  .flosun-button.secondary-btn.secondary-border {
    line-height: 40px;
  }
}

@media (max-width: 479px) {
  .flosun-button.secondary-btn.secondary-border {
    border: 1px solid #000000;
  }
}

.flosun-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.flosun-button.button-icon {
  position: relative;
  overflow: hidden;
}

.flosun-button.button-icon.dark-btn {
  background: #000000;
  color: #ffffff;
  border-radius: 0%;
}



/*----------------------------------------*/
/*    About Scss
/*----------------------------------------*/
.about-img {
  display: inline-block;
  margin-bottom: 35px;
  margin-top: 30px;
  position: relative;
}

.about-img img {
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 10px 2px rgba(188, 188, 188, 0.7);
          box-shadow: 0px 4px 10px 2px rgba(188, 188, 188, 0.7);
  width: 150px;
  height: 150px;
}

@media (max-width: 767px) {
  .about-img img {
    width: 130px;
    height: 130px;
  }
}

@media (max-width: 575px) {
  .about-img img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 575px) {
  .about-img {
    margin-bottom: 30px;
    margin-top: 10px;
  }
}

.about-content > p {
  font-size: 20px;
  line-height: 32px;
  margin: 0 auto 20px auto;
  max-width: 800px;
  position: relative;
  text-align: center;
}

@media (max-width: 991px) {
  .testimonial-content > p {
    max-width: 640px;
  }
}

@media (max-width: 767px) {
  .about-content > p {
    max-width: 500px;
    font-size: 16px;
    line-height: 28px;
  }
}

@media (max-width: 575px) {
  .about-content > p {
    max-width: 400px;
    font-size: 14px;
  }
}

@media (max-width: 479px) {
  .about-content > p {
    max-width: 280px;
    font-size: 13px;
    line-height: 24px;
  }
}

.about-author > h6 {
  color: #E72463;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 20px;
}

.about-author > h6 > span {
  color: #555555;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}

.about-author > h6 > span:before {
  content: "-";
  display: inline-block;
  margin: 0 5px 0 2px;
  color: #555555;
}

.about-area-2 .single-about {
  margin-bottom: 0px;
}

@media (max-width: 991px) {
  .about-area-2 .about{
    margin-bottom: 45px;
  }
}

.about-area-2 .about {
  margin-top: 3px;
}

.about-area-2 .about-content {
  padding: 0 20px;
}